*~
.vscode/*
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
.devcontainer/ehrql-main/
/generate_dummy_tables/
/ehrql-dummy-data*
/dummy_tables/*
/docs/